// Linking to the CSS file
@import "style.css";

// Importing of Font Family
// @import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

//Defaults Setting
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Raleway, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

body {
  padding: 0px 80px;
  background-color: #e5e5e5;
}

// Header Section
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px 15px 0px;
  border-bottom: 1px solid #d7d8da;
  font-family: Epilogue, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
.header_child {
  padding: 0px 20px;
}

.header_logo {
  width: 223px;
  height: 54px;
}

.header_find {
  color: #333333;
  font-weight: 300;
  font-size: 30px;
}

.header_waitlist {
  color: #98dede;
  font-weight: 700;
  font-size: 30px;
}
